.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.form input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form button {
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
.form button:hover {
  background-color: #ddd;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}